---
layout: default
title: About
---

{% assign a = site.data.content.about %}
<div class="about-wrap">
  <a href="/" class="back-link">{{ a.back_link }}</a>

  <h1>{{ a.title }}</h1>

  {% for para in a.paragraphs %}{{ para | markdownify }}{% endfor %}

  <div class="about-grid">
    {% for card in a.cards %}
    <div class="about-card">
      <div class="card-label">{{ card.label }}</div>
      <div class="card-value">{{ card.value }}</div>
    </div>
    {% endfor %}
  </div>

  {{ a.closing | markdownify }}
</div>
